<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>EventosApp</title>
</head>
<body>
    <h1>Cadastro de eventos</h1>
    <form method="post">
        Nome
        <input type="text" value="" name="nome" placeholder="Digite o nome">
        Local
        <input type="text" value="" name="local" placeholder="Digite o local">
        Data
        <input type="date" value="" name="data" placeholder="Digite a data">
        Horario
        <input type="time" value="" name="horario" placeholder="Digite o horario">

        <button type="submit">Salvar</button>
    </form>
</body>
</html>