@import url(mainCardAnimeReviw.css);
@import url(mainCardAnimeNoticias.css);

:root {
    --cor-main-1:rgba(173, 173, 173, 0.493);
    --cor-main-2:blueviolet;
    --cor-main-3:rgb(255, 80, 80);
    --cor-main-4:rgb(90, 240, 90);
    --cor-main-5:rgb(255, 109, 72);
    --cor-main-6:rgb(99, 99, 255);
    --cor-main-7:rgb(182, 68, 115);
}

main{
    width: 1150px;
    min-height: 1000px;
    background-color: var(--cor-main-1);
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}